#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(119, 73, 3);
}

.home-title {
    color: rgb(48, 162, 92);
    font-size: 2em;
    margin-top: 10px;
}

h2 {
    margin: 0;
}

h4 {
    color: rgb(171, 211, 84);
}

#hero-msg {
    text-align: center;
}

#her0-msg h4 {
    text-align: center;
}

.card-img {
    border: 10px solid rgb(234, 232, 162);
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.button-box {
    text-align: center;
}

#background {
    height: 725px;
    background-color: aquamarine;
    margin-bottom: 100px;
}

nav a {
    text-align: center;
    color: orange;
    text-decoration:none;
    padding: 35px;
}

nav a:hover {
    color: rgb(140, 172, 145);
    background-color:rgb(119, 73, 3);
    text-decoration: none;
}

.book, .join {
    background-color:rgb(204, 249, 157);
    color: rgb(223, 158, 38);
    text-decoration:none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 35px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color:antiquewhite;
    color:blue;
}

.msg {
    color:darkgreen;
    background-color:rgb(245, 176, 213);
    line-height: 1.5em;
    padding: 35px;
    margin-top: 150px;
}

.msg h2 {
    color: coral;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.msg p {
    color: darkmagenta;
    font-size: .8em;
    padding-bottom: 15px;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

footer {
    background-color: rgb(245, 176, 213);
    color: rgb(78, 154, 2);
    padding: 25px 50px;
    margin-top: 200px;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: none;
} 

footer .social img {
    padding-top: 15px;
}

footer a {
    color: rgb(87, 99, 69);
    text-decoration:none;
}

footer a:hover {
    color: rgb(235, 83, 45);
}