#content {
    max-width: 1600px;
    margin: 0 auto;
}

.home-title {
    color: rgb(60, 218, 121);
}

h4 {
    color: rgb(161, 190, 105);
}

nav a {
    text-align: center;
    color: orange;
    text-decoration:underline;
}

#hero-msg h1 {
    text-align: center;
}

#her0-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: aquamarine;
}

body {
    background-color: antiquewhite;
}

header {
    background-color: blanchedalmond;
}

nav a:hover {
    color: goldenrod;
    background-color: palevioletred;
}

.book, .join {
    background-color: brown;
    color: rgb(61, 71, 40);
    text-decoration:underline;
}

.book:hover, .join:hover {
    background-color: chocolate;
    color:aqua;
}

.msg {
    background-color: chartreuse;
    color: olivedrab;
}

footer {
    background-color: deeppink;
    color: rgb(17, 18, 16);
}

.msg h2 {
    color: coral;
}

.msg p {
    color: darkmagenta;
}

footer a {
    color: burlywood;
    text-decoration:underline;
}

footer a:hover {
    color: darkgreen;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
} 